networks:
  caddy:
    external: true

services:
  seerr:
    image: ghcr.io/seerr-team/seerr:latest
    init: true
    container_name: seerr
    restart: unless-stopped
    networks:
      - caddy
    ports:
      - "5056:5055"
    labels:
      url: "https://seerr.{{ domain }}"
      target: "seerr:5056"
      title: "Seerr"
      category: "media"
      color: "blue"
    environment:
      - TZ=Asia/Jerusalem
    volumes:
      - /media/external/configs/seerr:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
