*.home.shubapp.com {
  tls {
    dns godaddy {$GODADDY_TOKEN}
  }

  @test host test.home.shubapp.com 
  handle @test {
    respond "test success!"
  }

  @ha host ha.home.shubapp.com
  handle @ha {
    reverse_proxy http://192.168.31.53:8123
  }

  @caddy host caddy.home.shubapp.com
  handle @caddy {
    reverse_proxy localhost:2019
  }

  handle {
    respond "Hello, world!"
  }
}

home.shubapp.com {
  tls {
    dns godaddy {$GODADDY_TOKEN}
  }

  handle {
    respond "Hello, world!"
  }
}