*.home.shubapp.com {
  tls {
    dns godaddy {$GODADDY_TOKEN}
  }

  @test host test.home.shubapp.com 
  handle @test {
    respond "test success!"
  }

  @ha host ha.home.shubapp.com
  handle @ha {
    reverse_proxy http://192.168.31.153:8123
  }

  @caddy host caddy.home.shubapp.com
  handle @caddy {
    request_header Host "localhost:2019"
    reverse_proxy http://localhost:2019
  }

  @files host files.home.shubapp.com
  handle @files {
    reverse_proxy http://localhost:8080
  }

  handle {
    respond "Hello, world!"
  }
}

home.shubapp.com {
  tls {
    dns godaddy {$GODADDY_TOKEN}
  }

  handle {
    respond "Hello, world!"
  }
}