{
    order cgi before respond
}

*.home.shubapp.com {
  tls {
    dns godaddy {$GODADDY_TOKEN}
  }

  @test host test.home.shubapp.com
  handle @test {
    respond "test success!"
  }

  @ha host ha.home.shubapp.com
  handle @ha {
    reverse_proxy http://192.168.31.153:8123
  }

  @files host files.home.shubapp.com
  handle @files {
    reverse_proxy filebrowser:80
  }

  @torrent host torrent.home.shubapp.com
  handle @torrent {
    reverse_proxy transmission:9091
  }

  @jackett host jackett.home.shubapp.com
  handle @jackett {
    reverse_proxy jackett:9117
  }

  @sonarr host sonarr.home.shubapp.com
  handle @sonarr {
    reverse_proxy sonarr:8989
  }

  @radarr host radarr.home.shubapp.com
  handle @radarr {
    reverse_proxy radarr:7878
  }

  @bazarr host bazarr.home.shubapp.com
  handle @bazarr {
    reverse_proxy bazarr:6767
  }

  @jellyfin host jellyfin.home.shubapp.com
  handle @jellyfin {
    reverse_proxy http://192.168.31.153:8096
  }

  @caddy host caddy.home.shubapp.com
  handle @caddy {
    request_header Host "localhost:2019"
    reverse_proxy http://localhost:2019
  }

  @apps host apps.home.shubapp.com
  handle @apps {
    root / /apps
    @html {
        file {
            try_files {path} {file} {path}/index.html {file}/inde.html /index.html
        }
    }
    route @html {
        file_server
    }

    cgi /* /apps/{file}/dist/{file}
  }

  @git host git.home.shubapp.com
  handle @git {
    reverse_proxy http://auto-git:7005
  }

  handle {
    respond "Hello, world!"
  }
}

home.shubapp.com {
  tls {
    dns godaddy {$GODADDY_TOKEN}
  }

  handle {
    respond "Hello, world!"
  }
}
