services:
  watchtower:
    restart: unless-stopped
    environment:
      - TZ=Asia/Jerusalem
    image: nickfedor/watchtower:latest
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - .env
    command: "--cleanup"
