networks:
  caddy:
    external: true

services:
  gym:
    container_name: gym
    image: ghcr.io/deanshub/gym:main
    restart: unless-stopped
    networks:
      - caddy
    environment:
      - DATABASE_URL=file:/data/app.db
      - UPLOADS_DIR=/data/uploads
    env_file:
      - .env
    labels:
      url: "https://gym.{{ domain }}"
      title: "Gym"
      category: "tools"
      color: "neutral"
    volumes:
      - /media/external/library/gym:/data
    ports:
      - "3000:3000"
