- name: Get active network interface
  shell: ip route | grep default | awk '{print $5}' | head -1
  register: network_interface

- name: Remove existing netplan files
  shell: rm -f /etc/netplan/*.yaml /etc/netplan/*.yml

- name: Configure static IP with netplan
  copy:
    dest: /etc/netplan/01-netcfg.yaml
    content: |
      network:
        version: 2
        ethernets:
          {{ network_interface.stdout }}:
            dhcp4: no
            addresses: [{{ static_ip }}/24]
            gateway4: {{ gateway_ip }}
            nameservers:
              addresses: [8.8.8.8,8.8.4.4]

- name: Apply netplan
  command: netplan apply

- name: Ensure DNS is configured correctly
  copy:
    dest: /etc/resolv.conf
    content: |
      nameserver 8.8.8.8
      nameserver 8.8.4.4

- name: Disable problematic networkd-wait-online service
  systemd:
    name: systemd-networkd-wait-online.service
    enabled: no
    masked: yes
  ignore_errors: yes
