<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind CSS Example</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="">
      <h1 class="text-2xl font-bold text-center mt-4 tracking-wider">Welcome Home!</h1>
      <p class="mt-2 text-center text-sm tracking-wide">
        These are some of the services I host at home. Click on any of the links
        below to access them.
      </p>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-8">
        {{$data := .IncludeFile "services.json" | fromJSON}}
        {{range $data.services}}
        {{if .url}}
        <a
          href="{{.url}}"
          class="flex items-center justify-center p-4 text-center text-pretty bg-{{.color}}-100 hover:bg-{{.color}}-200 capitalize h-40 text-4xl tracking-wide"
        >{{.label}}</a>
        {{end}}
        {{end}}
      </div>
    </div>
  </body>
</html>
